/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #d0d0d0;
}

.list-div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px #d0d0d0;
  border-radius: 7px;
  background-color: #F5F5F5;
}

.list-div::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.list-div::-webkit-scrollbar-thumb
{
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 4px #d0d0d0;
  background-color: #d0d0d0;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main .favouriteProducts{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 80%;
  height: 100px;
}

.main .favouriteProducts .icon-div {
  display: inline-flex;
  background: #ffff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.main .favouriteProducts .icon-div i{
  font-size: 40px;
  margin-left: 10px;
}

.main .favouriteProducts .icon-div  span{
  margin-left:10px;
  margin-right:10px;
  margin-top:20px;
  margin-bottom:20px;
  font-weight: 600;
  font-size: 30px;
}

.main .favouriteProducts .favourites {
  display: inline-flex;
  background: #ffff;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.main .favouriteProducts .favourites  span{
  margin-left:10px;
  margin-right:10px;
  font-weight: 600;
  font-size: 30px;
}

.product-card-list {
  display: flex;
  flex-direction: column;
  background: #ffff;
  width: 80%;
  border-radius: 5px;
}

.product-card-list h2 {
  margin:20px;
  margin-left: 30px;
}


.product-card-list .list-div {
  display: flex;
  margin:20px;
  overflow: auto;
  white-space: nowrap;
}


.product-card-list .list-div .list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.product-card {
  display: inline-block;
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
  border-width:0.2em;
  padding: 10px 8px 10px 8px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  margin: 15px;
  transition: transform 250ms ease;
}
.product-card::before {
  position: absolute;
  right: 10px;
  top: 0;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card .like-icon{
  display: flex;
  justify-content: flex-end;
}

.product-card .like-icon i{
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}

.product-card .like-icon i:hover{
  color: #333;
}

.product-card .product-image{
  position: relative;
  height: 300px;
  width: 250px;
  margin-top: 10px;
}

.product-card .product-image img{
  position: absolute;
  height: inherit;
  width: inherit;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.product-card .product-image img.active{
  opacity: 1;
}

.product-card .product-details {
  display: flex;
  flex-direction: column;
}

.product-card .product-details .product-title{
  white-space: normal;
}

.product-card .product-details .product-title .product-name{
  font-size: 24px;
  font-weight: 500;
  color: #161616;

  overflow: hidden;
  display: -webkit-box;
  line-height: 30px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

 

.product-card .product-details .product-price{
  position: inherit;
  height: 50px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d0d0d0;
  border-radius: 5px;
  margin: 5px;
}

.product-card .product-details .product-price .price{
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 10px;
}

.product-card .product-details  .shipment-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.product-card .product-details  .shipment-details i{
  font-size: 27px;
  color: #51c739;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 5px;
}

@media only screen and (min-width: 992px) {
  .main{
    height: 100vh;
  }
}

@media only screen and (max-width: 992px) {
  .main{
    height: 100vh;
  }
} 

@media only screen and (max-width: 600px) {
  .main{
    height: auto;
  }

  .main .favouriteProducts {
    margin-top: 50px;
    justify-content: space-around;
    width: 100%;
  } 

  .main .favouriteProducts .icon-div{
    margin-left: 20px;
    width: 100%;
    margin-right: 15px;
  }

  .main .favouriteProducts .icon-div i{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .main .favouriteProducts .icon-div span{
    margin-left: 0px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
  }

  .main .favouriteProducts .favourites {
    margin-left: 0px; 
    margin-right: 20px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    width: 100%;
  }

  .main .favouriteProducts .favourites span {
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 20px;
  }

  .product-card-list {
    width: 90%;
  }

  .product-card-list .list-div {
    justify-content: center;
  }

  .product-card-list h2 {
    margin: 15px;
    text-align: center;
  }
  .product-card-list .list-div .list {
    display: grid;
  }
  .product-card {
    max-width: 300px;
    padding: 10px;
  }

  .product-card .product-details {
    padding: 10px;
  }

  .product-card .product-details .product-title .product-name {
    font-size: 22px;
  }
} 

@media only screen and (max-width: 375px) {
  .product-card {
    max-width: 250px;
  }
} 
